.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-client__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.client-list {
  display: flex;

  gap: 30px;
}
.client-item {
  width: 170px;
  height: 92px;
}
.client-item__link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  color: var(--color-middleGrey);
  border: 1px solid var(--color-middleGrey);
  border-radius: 4px;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
    color: var(--color-mainBlue);
    border-color: var(--color-mainBlue);
  }
}
.client-item__image {
  display: block;

  width: 106px;
  height: 60px;

  fill: currentColor;
}

