.section-team {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--color-ghostWhite);
}
.section-team__title {
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-veryDark);
}
.team-member-list {
  display: flex;

  margin-top: 50px;

  gap: 30px;
}
.member-block {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--color-mainWhite);
}
.member-block__member-name {
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--color-veryDark);
}
.member-block__member-position {
  margin-top: 10px;
  text-align: center;

  font-size: 16px;
  line-height: 1.2;
  color: var(--color-lightGray);
}

.member-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
